<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADCDPumBoshKlWaoLNYDw7uNPCLV2dNKE</string>
	<key>GCM_SENDER_ID</key>
	<string>486184726817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careConnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>care-connect-43528</string>
	<key>STORAGE_BUCKET</key>
	<string>care-connect-43528.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486184726817:ios:3261d7155322db277b0e60</string>
</dict>
</plist>